In [4]:
import pandas as pd
from googleapiclient.discovery import build

In [2]:
api_key = 'api_key'
video_id = 'video id'
 
comments = list()
api_obj = build('youtube', 'v3', developerKey=api_key)
response = api_obj.commentThreads().list(part='snippet,replies', videoId=video_id, maxResults=100).execute()
 
while response:
    for item in response['items']:
        comment = item['snippet']['topLevelComment']['snippet']
        comments.append([comment['textDisplay'], comment['authorDisplayName'], comment['publishedAt'], comment['likeCount']])

#         if item['snippet']['totalReplyCount'] > 0:
#             for reply_item in item['replies']['comments']:
#                 reply = reply_item['snippet']
#                 comments.append([reply['textDisplay'], reply['authorDisplayName'], reply['publishedAt'], reply['likeCount']])
 
    if 'nextPageToken' in response:
        response = api_obj.commentThreads().list(part='snippet,replies', videoId=video_id, pageToken=response['nextPageToken'], maxResults=100).execute()
    else:
        break

df = pd.DataFrame(comments)
df.to_excel('results.xlsx', header=['comment', 'author', 'date', 'num_likes'], index=None)

In [5]:
df = pd.read_excel('results.xlsx')
df.head()

,comment,author,date,num_likes
0,조선소 이야기한번해주세요 한국조선소 일하는사람가족 까지하면 100만명인데ㅋ,김종욱,2022-07-01T09:59:56Z,0
1,윤모씨~&quot;한국 경제 위기 대안 없어&quot;<br>대한민국 국민들 알아서...,Andrea Kim,2022-07-01T09:32:25Z,1
2,썸넬.. 하..,Hyesung Kim,2022-07-01T09:26:31Z,1
3,???:아빠 왜 주식에 투자했어,Z OM,2022-07-01T09:22:29Z,0
4,오늘 22찍었다가 간신히 05로 마무리~,이호산,2022-07-01T08:50:47Z,2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 751 entries, 0 to 750
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   comment    751 non-null    object
 1   author     751 non-null    object
 2   date       751 non-null    object
 3   num_likes  751 non-null    int64
dtypes: int64(1), object(3)
memory usage: 23.6+ KB